<div left>
  <div donators>
    <h3>
      {{total_donators}}
    </h3>
    <p>
      Contribuitors
    </p>

  </div>
  <div total_donated>
    <h3>
      ${{total_donated}}
    </h3>
    <p>
      Donated
    </p>

  </div>
  <div socialnetworks>
    {% if facebook_link %}
      <a facebook href="{{facebook_link}}" target="_blank">
        <i logo_facebook></i>
        <p> Share </p>
      </a>
  
    {% endif %}
  
    {% if twitter_link %}
      <a twitter href="{{twitter_link}}" target="_blank">
        <i logo_twitter></i>
        <p>Tweet</p>
      </a>
  
    {% endif %}
  
    {% if discord_link %}
      <a discord href="{{discord_link}}" target="_blank">
        <i logo_discord></i>
        <p>Join</p>
      </a>
  
    {% endif %}

  </div>

  
</div>