<div left>
  <div donators>
    <h3>
      {% if support.total_donators %}
        {{support.total_donators}}
      {%else%}
        N/A
      {% endif %}
    </h3>
    <p>
      Contribuitors
    </p>

  </div>
  <div total_donated>
    <h3>
      {% if support.total_donated %}
        ${{support.total_donated}}
      {%else%}
        N/A
      {% endif %}      
    </h3>
    <p>
      Donated
    </p>

  </div>
  <div socialnetworks>
    {% if support.facebook_link %}
      <a facebook href="{{support.facebook_link}}" target="_blank">
        <i logo_facebook></i>
        <p> Share </p>
      </a>
  
    {% endif %}
  
    {% if support.twitter_link %}
      <a twitter href="{{support.twitter_link}}" target="_blank">
        <i logo_twitter></i>
        <p>Tweet</p>
      </a>
  
    {% endif %}
  
    {% if support.discord_link %}
      <a discord href="{{support.discord_link}}" target="_blank">
        <i logo_discord></i>
        <p>Join</p>
      </a>
  
    {% endif %}

  </div>

  
</div>