<div header_image>
  <img company__logo src="{{image_header}}" alt="Head Image">
  <h1 title> {{title}} </h1>
  <p message> {{message}} </p>

  {% if top_contribuitors %}
  <div top_contribuitors>
    {% for contribuitor in top_contribuitors %}
    <div contribuitor>
      {% if contribuitor.url %}
      <a link_contribution href="{{contribuitor.url}}" target="_blank">
        {% else %}
        <a link_contribution href="#">
          {%endif%}
          {% if contribuitor.image %}
          <img logo_small src="{{contribuitor.image}}" alt="logo">

          {% endif%}
          {% if contribuitor.name %}
          <p company_name>
            {{contribuitor.name}}
          </p>

          {% endif%}

        </a>

    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
<div content_header>
  {% if thanks %}

  <p thanks_message>
    {{thanks}}
  </p>
  <div total_donated>
    <p donated>
      Total donated
    </p>
    <p ammount_donated>
      ${{total_donated}}
    </p>

  </div>

  {% endif%}

  <a button_contribute href="{{contribute_link}}">
    Contribute
  </a>

</div>