.logo_big
  width: 120px
  height: auto

.long_message  
  font-size: 15px
  padding: 10px
  text-align: justify


.plans__container, .support__main , .donated_container 
  height: 0%

.subscription__plan 
  height: auto
  margin: 15px 10px 15px 10px

  .margin__head
    margin: 20px

  .margin__desc
    margin: 0px 20px 20px 20px        

%social_network
  padding: 12px
  margin: 5px


.donated_container

  .twitter__link
    @extend %social_network
    background-color: #00aced

  .facebook__link
    @extend %social_network

    background-color: #3b5998

  .discord__link
    @extend %social_network

    background-color: #7289da

